.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #333;
}

.text-container {
  width: 200px; 
  font-family: monospace; 
  font-size: calc(20px + 2vmin);
}

/* Junk Letters */
.letter {
  margin: 0 0px; 
}

.lineOne, .lineTwo, .lineThree, .lineFour, .lineFive, .lineSix, .lineSeven, .lineEight, .lineNine, .lineTen, .lineEleven {
  display: flex;
}

/* Line One Items */
.itis {
  color: #999;
}

.oclock{
  color: #999;
}

.am {
  color: #333;
}

.pm {
  color: #333;
}


/* Line Two Items */
.aquarter {
  color: #333;
}

/* Line Three Items */
.twenty {
  color: #333;
}

.five {
  color: #333;
}

.twentyfive {
  color: #333;
}

/* Line Four Items */
.half {
  color: #333;
}

.ten {
  color: #333;
}

.to {
  color: #333;
}

/* Line Five Items */
.past {
  color: #333;
}

.nineNumber {
  color: #333;
}

/* Line Six Items */
.oneNumber {
  color: #333;
}

.sixNumber {
  color: #333;
}

.threeNumber {
  color: #333;
}

/* Line Seven Items */
.fourNumber {
  color: #333;
}

.fiveNumber {
  color: #333;
}

.twoNumber {
  color: #333;
}

/* Line Eight Items */
.eightNumber {
  color: #333;
}

.elevenNumber{
  color: #333;
}

/* Line Nine Items */
.sevenNumber {
  color: #333;
}

.twelveNumber{
  color: #333;
}

/* Line Ten Items */
.tenNumber {
  color: #333;
}
